@import url('https://font.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Montserrat', sans-serif;
}

#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, .1);
    background-color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all .2s;
    transition: all .2s
}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #f05f40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #f05f40
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #f05f40
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
    color: green!important;
    background-color: transparent
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
    background-color: transparent
}

@media (min-width:992px) {
    #mainNav {
        border-color: rgb(1, 41, 1);
        background-color: brown;
        padding: 20px
    }
    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, .7)
    }
    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: darkgrey;
        font-style: italic;
        font-size: 20px
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        padding: .5rem 1rem
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
        color: darkgrey;
        font-style: initial;
        animation-fill-mode: inherit;
        font-style: italic
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #fff
    }
    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, .1);
        background-color: black
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: black;
    }
    #mainNav.navbar-shrink .navbar-brand:focus,
    #mainNav.navbar-shrink .navbar-brand:hover {
        color: #f05f40
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
        color: #212529
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {
        color: green
    }
}

section {
    background-color: grey!important;
    font-style: italic;
    padding: 20px
}

.foot{height:auto;
	margin-top:110px;
    background: #333333;
    padding:0px;
}
.foot address, .foot a, .foot p{
    color: #fff;   
}
.foot p{
  text-align: center;
}
.foot_space{
    padding: 10px 10px 0px 26px;   
}

#aneil {
    font-style: italic;
    color: brown;
    padding: 20px!important;
}