html, body{

    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    background-color: #eeefe9;
    background-color: #e7daca;
    color: #304138;
    font-family: 'Merienda One', cursive;

}

h1{
  color: red;
    font-family: 'Eagle Lake', cursive;
}

h2{
   font-weight: bolder;
  color: #2e3732;
}
h3{
 color: #784d18;
 font-weight: bolder;

}

nav{
	height:120px;
	padding: 40px 0 0 0;
	background-color: #c83315 !important;
}


li a{
	text-decoration:none;
	color:#cac1c0 !important;
	font-weight:bolder;
	margin:0 4px 0 0;
	border-radius:7px;
		
}

ul li a:hover{
		color:#cffb01 !important;
}

.current{
  color: #fff !important;
	border-bottom:solid #cffb01 1px !important;
	border-radius:7px;
}

.current a{
  color: #cffb01 !important;
}

.carousel-caption{
    z-index: 10;
    background-color: rgba(000, 0, 0, 0.7);
}
.carousel-inner > .item > img{
    position: absolute;
    top: 50px;
    left: 0;
    min-width: 100%;
    height: auto;
}
.carousel-inner > .item{
    height: 500px;   
}
.carousel-caption p{
  color: #D4FFDE;
  font-weight:500;
  font-size: 17px;

}

.btn-carosel{
  color:#fff;
  background-color:#ec971f;
  border-color:#eea236
}
.btn-carosel:hover{
  color:#fff;
  background-color:#ECB01F;
  border-color:#ECD61F;
}

.red-indicators li{
  border:1.5px solid red;border-radius:2px;
}

.carousel-indicators .active{
  background-color: red !important;
  border:1.5px solid #cffb01;border-radius:2px;
}

.black{
  background-color: #000
}

.tpad{
    padding-top: 20px;
}

.padded{
    padding: 100px 15px;
}

.marketing{
    background-color: #e9e6df;   
}

.mark {
    border-top: 1px solid #c9c9c9;   
}

.fstyle{
	color:red;
	font-weight:400;
}

.logo{
	margin-top: -50px !important;
}

.intro-section{
    padding: 10px;
    color: #fce0c9;
    background-color: #2e3732;
}

.breadcrumb-section{
  margin-top: 120px;
    padding: 10px;
    color: #fce0c9;
    background-color: #2e3732; 
}

.muted-txt{
    color: #f3bb8d;
    font-weight: 100;
}


.ftr{
    /*background: url(images/shattered.png) repeat; #808080*/
    padding: 80px 0 60px 0;
    background-color: grey;
}

.ftr address, .ftr a, .ftr p{
    color: #fff;   
}

.ftr_space{
    padding: 0 10px;   
}

.ftr-btm{
	text-align:center;
	color: #fff;  
}

hr.ftr-line { 
  height: 30px; 
  border-style: solid; 
  border-color: #fff; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 

hr.ftr-line:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #fff; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 

}

span a:hover{
    color:red;
}

.fb{
  background-color: #3c5a99;
 }

.fb h2{
  color: white;
  text-align: center;
}

.fb h2:hover{
  color: yellow;
  text-align: center;
  animation: shake 75ms infinite;
  animation-timing-function: linear; 
}

/***** Shakes fb link *****/
@keyframes shake {
  0% { transform: rotate(0.5deg); }
  50% { transform: rotate(-0.5deg); }
  100% { transform: rotate(0.5deg); }
}

.map {
    margin-top: 10px;
    height: 400px;
    width: 100%;
  }

.error{
  color: red !important;
}
/*for testin only */
.red{
  background-color: black !important;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.sidebar {
  background-color: #D6D4C5;
}

.list-group{
  background-color: #9BCCB8;
  border-radius: 8px;
  margin-top: 10px;
 padding: 10px;
}

.terms{
  font-size: 12px;
  color: #fff !important;
  border-bottom:solid #cffb01 1px !important;
  border-radius:9px;
}

.infos{
  font-size: 12px;
  color: #fff !important;
}

#more {
  display: none;
}

.upcoming{
  padding-top:20px; 
}

.upcoming img:hover{
  color: yellow;
  text-align: center;
  animation: shake 75ms infinite;
  animation-timing-function: linear; 
}